

<h1>医疗咨询FAQ</h1>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!--<title>企业知识图谱查询结果</title>-->
</head>
  <style type="text/css">

    h1{padding:2em 1em;background:#675}
    h2{color:#bf8;border-top:1px dotted #fff;margin-top:2em}
    p{margin:1em 0}
  </style>
<body>
<style>
    h2 {
    color:#FFFFFF;
    }
    h3 {
    color:#FF4500;
    }
    h4{
    color:#FF7F50;
    }
    h5{
    color:#FF7F50;
    }
</style>
   <h6>基础功能:</h6>
    <h6>【内科、妇科、男科、儿科、外科的医疗咨询】</h6>
    <p>———————————————— </p>
    <h3>您要咨询:</h3>
    <h6>{{ query }}</h6>
    <h6></h6>
    <p>———————————————— </p>

    <h3>建议:</h3>
    <h6>{{ res }}</h6>
</body>
</html>

