

<h1>{{ hello }}</h1>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!--<title>风险预警申请</title>-->
</head>
  <style type="text/css">
    body{color:#efd;background:#453;padding:0 5em;margin:0}
    h1{padding:2em 1em;background:#675}
    h2{color:#bf8;border-top:1px dotted #fff;margin-top:2em}
    p{margin:1em 0}
  </style>
<body>
<style>
    h2 {
    color:#FFFFFF;
    }
    h3 {
    color:#FFFFFF;
    }
    h4{
    color:#FF7F50;
    }
    h5{
    color:#FFFFFF;
    }
</style>
    <!--<h3>基础服务</h3>-->
    <!--<h5>【基础服务可提供项目气象、地质灾害信息预警服务，此外还包括过去24小时降雨量及未来7天天气预报】</h5>-->
<form action="textsimi" method="get">
    <!--项目中文名称: <input name='pj_ch_name'  class="form-control" placeholder="如：蒲都高速" autofocus><br>-->
    <!--项目所在地（省）: <input type="text" placeholder="如：四川省" name="prov"> <br>-->
    <!--项目所在地（市）: <input type="text" placeholder="如：成都市" name="city"> <br>-->
    <!--项目所在地（县）: <input type="text" placeholder="如：大邑县" name="county"> <br>-->
    <!--项目所在地（镇）: <input type="text" placeholder="如：金星乡" name="town"> <br>-->
    <!--预警发送电话: <input type="text" name="msg_pho"> <br>-->
    <!--预警发送邮箱: <input type="text" name="msg_mail"> <br>-->
    <!--预警发送微信号（个人）: <input type="text" placeholder="个人或群可以只填一个"  name="msg_wx_frd"> <br>-->
    <!--预警发送微信号（群）: <input type="text" placeholder="个人或群可以只填一个" name="msg_wx_room"> <br>-->
    <!--<p>————————————————</p>-->
    <!--<h3>河流水位、流量定制化监测</h3>-->
    <!--<h5>【定制服务可提供项目附近河流水位、流量实时监测数据（每小时监测），并在超过警戒值时进行预警】</h5>-->
    资讯标题: <input type="text" name="title"> <br>
    资讯内容: <input type="text" name="content"> <br>
    <!--<h4>若不清楚项目附近河流、水文监测站信息，可电话咨询028-64055329进行定制服务</h4>-->
    <p>———————————————— </p>
        <input type="submit" value="提交">


</form>
</body>
</html>

