

<h1>{{ hello }}</h1>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>医疗咨询FAQ</title>
</head>
  <style type="text/css">

    h1{padding:2em 1em;background:#675}
    h2{color:#bf8;border-top:1px dotted #fff;margin-top:2em}
    p{margin:1em 0}
  </style>
<body>
<style>
    h2 {
    color:#FFFFFF;
    }
    h3 {
    color:#FF7F50;
    }
    h4{
    color:#FF7F50;
    }
    h5{
    color:#FFFFFF;
    }
</style>
    <h6>基础功能:</h6>
    <h6>【内科、妇科、男科、儿科、外科的医疗咨询】</h6>
   <p>———————————————— </p>
    <h6>查询示例:</h6>
    <h6>  / 被蚂蚁咬了好痒怎么办？ / 拉肚子怎么办？ / 一天到晚都没什么精神是怎么回事  /  发烧了吃什么药？ </h6>
    <p>———————————————— </p>
<form action="recom" method="get">
    <!--项目中文名称: <input name='pj_ch_name'  class="form-control" placeholder="如：蒲都高速" autofocus><br>-->
    <!--项目所在地（省）: <input type="text" placeholder="如：四川省" name="prov"> <br>-->
    <!--项目所在地（市）: <input type="text" placeholder="如：成都市" name="city"> <br>-->
    <!--项目所在地（县）: <input type="text" placeholder="如：大邑县" name="county"> <br>-->
    <!--项目所在地（镇）: <input type="text" placeholder="如：金星乡" name="town"> <br>-->
    <!--预警发送电话: <input type="text" name="msg_pho"> <br>-->
    <!--预警发送邮箱: <input type="text" name="msg_mail"> <br>-->
    <!--预警发送微信号（个人）: <input type="text" placeholder="个人或群可以只填一个"  name="msg_wx_frd"> <br>-->
    <!--预警发送微信号（群）: <input type="text" placeholder="个人或群可以只填一个" name="msg_wx_room"> <br>-->
    <!--<p>————————————————</p>-->
    <!--<h3>河流水位、流量定制化监测</h3>-->
    <!--<h5>【定制服务可提供项目附近河流水位、流量实时监测数据（每小时监测），并在超过警戒值时进行预警】</h5>-->
    <h3>您要咨询: </h3>
    <h3><input type="text"  name="query">   <input type="submit" value="点击查询"> <br><h3>
<!--    病情描述: <input type="text"  name="describe"> <br>-->
<!--    用户地址标签: <input type="text"  name="address"> <br>-->
<!--    返回资讯条数：<input type="text"  name="k"> <br>-->
    <!--<h4>若不清楚项目附近河流、水文监测站信息，可电话咨询028-64055329进行定制服务</h4>-->
                <h6> </h6>



</form>
</body>
</html>

